* {
  margin: 0;
  padding: 0;
  /* clean all of margin and padding */
  font-family: Cormorant SC, Didot, Arial, Helvetica, sans-serif;
}

body {
  background-color: #f1f1f1;
  /* change the colour of background */
}

html {
  scroll-behavior: smooth;
  /* make it smoother when click some link */
}

figcaption {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.w {
  width: 100%;
  margin: auto;
}

.horizontal-line {
  border-top: 2px solid rgb(218, 218, 218);
  width: 50px;
  margin: 30px 0;
}

h1,
h2,
h3,
p {
  color: #3c3c3c;
}

.headerLine {
  font-size: 40px;
  font-weight: 900;
}


h1 {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 18px;
}

strong {
  line-height: 45px;
}

p {
  font-size: 20px;
  margin-bottom: 5px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3c3c3c;
  height: 50px;
}

#logo {
  float: left;
  padding-left: 5%;
  width: 50px;
}

#turn {
  float: right;
  padding-right: 5%;
}

nav ul {
  list-style: none;
}

nav li {
  float: left;
}

nav a {
  display: block;
  font-family: Helvetica, sans-serif, Arial;
  color: aliceblue;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-size: 15px;
  height: 50px;
  line-height: 50px;
}

#logoClick {
  width: 100px;
}

/* this is for the logo hover*/

nav a:hover {
  background-color: #bdbdbd;
}

#banner {
  width: 100%;
  height: 250px;
  background-image: url("../images/banner_BlackWhite.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.First {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  margin: 0 auto;
  background: rgb(227, 227, 227);
  height: 600px;
  margin-bottom: 10px;
}

#portrait {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid #e2e2e2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#FirstLeft {
  float: left;
  margin-left: 120px;
}

#AboutMe {
  float: left;
  padding-left: 50px;
}

#myWords {
  margin-right: 200px;
}

.Second {
  background-image: url("../images/Second.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  margin: 0 auto;
  height: 600px;
  margin-bottom: 10px;
}

#blue {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 5%;
}

#SecondRight {
  float: right;
}

#SecondLeft {
  float: right;
  margin-right: 50px;
}

.Third {
  display: flex;
  width: 100%;
  height: 500px;
  /* background-color: #ede9e5; */
}

#ThirdLeft {
  text-align: right;
  flex: 3;
  padding-top: 50px;
  padding-right: 4%;
  /* margin-left: 250px; */
  background-color: rgb(208, 222, 217);
  margin-right: 15px;
}


.Third #ThirdLeft h1 {
  height: 51px;
}

.Third #ThirdLeft ol {
  margin-top: 70px;
  margin-left: 50%;
  /* display: block;
  list-style-type: inside; */
}


.Third #ThirdLeft li {
  margin: 20px;
  margin-right: 0px;
}


#ThirdRight {
  flex-wrap: wrap;
  flex: 7;
  padding-top: 50px;
  padding-left: 3%;
  background-color: #e8e4e3;
}

table {
  margin-top: 55px;
  margin-bottom: 50px;
  margin-right: 50px;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  border-bottom: 3px solid #dbdbdb;
  padding: 20px 25px 5px 5px;
}

.Third #ThirdRight h1 {
  flex-basis: 100%;
  height: 5px;
}

#Sanya {
  position: relative;
  height: 500px;
  width: 100%;
  background-image: url("../images/sanya/sanya1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 15px;
}

#Sanya #Sanya1 {
  position: absolute;
  top: 150px;
  right: 160px;
  font-family: Helvetica, sans-serif, Arial;
  font-weight: lighter;
  font-size: 42px;
  color: #f1f1f1;
}

#Sanya #Sanya2 {
  position: absolute;
  top: 215px;
  right: 160px;
  font-family: Helvetica, sans-serif, Arial;
  font-weight: 300;
  font-size: 22px;
  color: #f1f1f1;
}

#Sanya div {
  position: absolute;
  top: 300px;
  right: 150px;
  color: #f1f1f1;
  font-family: Helvetica, sans-serif, Arial;
  font-size: 25px;
  height: 65px;
  width: 240px;
  text-align: center;
  line-height: 65px;
  background-color: #a4d4ce;
  border-radius: 80px;
}


#Piano {
  height: 250px;
  background-color: rgb(255, 255, 255);
  background-image: url("../images/footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 15px;
  padding-top: 30px;
  /* padding-left: 20%; */
  padding-bottom: 10px;
  text-align: center;
  line-height: 25px;
}

#Piano li {
  list-style: none;
  margin-bottom: 12px;
}

#Piano a {
  font-size: 18px;
  text-decoration: none;
  color: #3c3c3c;
}

.Photo1 {
  height: 900px;
  background-image: url("../images/sanya/sanya1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#SanyaWord1 {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 5px;
}

#SanyaWord2 {
  text-align: center;
}

.Photo1 {
  height: 900px;
  background-image: url("../images/sanya/sanya1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#Split {
  display: flex;
  width: 100%;
  height: 550px;
}

.Photo2 {
  flex: 1;
  height: 450px;
  background-image: url("../images/sanya/sanya2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 15px;
}

.Photo3 {
  flex: 1;
  height: 450px;
  background-image: url("../images/sanya/sanya3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#SanyaWord3 {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 5px;
}

#SanyaWord4 {
  text-align: center;
  margin-bottom: 55px;
}

.Photo4 {
  height: 900px;
  background-image: url("../images/sanya/sanya4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}

.Photo5 {
  height: 900px;
  background-image: url("../images/sanya/sanya5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


@media (max-width: 1800px) {
  * {
    font-family: Helvetica, sans-serif;
  }

  .First {
    height: 900px;
  }

  #myWords {
    margin-right: 0px;
  }

  #FirstLeft {
    float: left;
    margin-left: 0px;
  }
}

@media (max-width: 1000px) {
  * {
    font-family: Helvetica, sans-serif;
  }

  .First {
    height: 900px;
  }

  #myWords {
    margin-right: 0px;
  }

  #FirstLeft {
    float: left;
    margin-left: 0px;
  }
}

@media (max-width: 850px) {
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  .First {
    height: 1000px;
  }

  #myWords {
    margin-right: 0px;

    #FirstLeft {
      float: left;
      margin-left: 0px;
    }
  }
}

@media (max-width: 600px) {
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  .First {
    height: 1100px;
  }

  #myWords {
    margin-right: 0px;

    #FirstLeft {
      float: left;
      margin-left: 0px;
    }
  }
}